<section class="relative p-section bg-darkgreen-1 max-lg:hidden text-white">
  <div class="gap-8 flex max-lg:flex-col">
    <div class="basis-1/4">
      <div class="text-1.5xl font-alt font-semibold mb-8 sm:mb-10">Отходы</div>
      <div class="flex flex-col gap-5">
        <a href="javascript:;" class="text-sm">Паспорта отходов</a>
        <a href="javascript:;" class="text-sm">
          Лицензия на обращение
          с отходами
        </a>
        <a href="javascript:;" class="text-sm">ПНООЛР</a>
        <a href="javascript:;" class="text-sm">Инвентаризация отходов</a>
      </div>
    </div>
    <div class="w-px shrink-0 bg-white/20 max-lg:hidden"></div>
    <div class="basis-1/4">
      <div class="text-1.5xl font-alt font-semibold mb-8 sm:mb-10">Воздух</div>
      <div class="flex flex-col gap-5">
        <a href="javascript:;" class="text-sm">ПДВ / НДВ</a>
        <a href="javascript:;" class="text-sm">СЗЗ</a>
        <a href="javascript:;" class="text-sm">НМУ</a>
        <a href="javascript:;" class="text-sm">ПГОУ</a>
        <a href="javascript:;" class="text-sm">Инвентаризация источников</a>
        <a href="javascript:;" class="text-sm">ОВОС</a>
        <a href="javascript:;" class="text-sm">Парниковые газы</a>
      </div>
    </div>
    <div class="w-px shrink-0 bg-white/20 max-lg:hidden"></div>
    <div class="basis-1/4">
      <div class="text-1.5xl font-alt font-semibold mb-8 sm:mb-10">Вода</div>
      <div class="flex flex-col gap-5">
        <a href="javascript:;" class="text-sm">ЗСО</a>
        <a href="javascript:;" class="text-sm">НДС</a>
        <a href="javascript:;" class="text-sm">Паспорт водного хозяйства (ПВХ)</a>
        <a href="javascript:;" class="text-sm">
          Договор о предоставлении
          водного объекта в пользование
        </a>
        <a href="javascript:;" class="text-sm">ОВБР</a>
      </div>
    </div>
    <div class="w-px shrink-0 bg-white/20 max-lg:hidden"></div>
    <div class="basis-1/4">
      <div class="text-1.5xl font-alt font-semibold mb-8 sm:mb-10">
        Экологическое
        сопровождение
      </div>
      <div class="flex flex-col gap-5">
        <a href="javascript:;" class="text-sm">Паспорта отходов</a>
        <a href="javascript:;" class="text-sm">Разработка СЗЗ</a>
        <a href="javascript:;" class="text-sm">Разработка ПМ ООС</a>
      </div>
    </div>
  </div>
</section>

<section class="relative py-10 bg-darkgreen-2 text-white">
  <div class="gap-8 flex max-lg:flex-col">
    <div class="basis-1/4 flex flex-col">
      <div class="flex items-center gap-2 text-primary">
        <c-icon class="icon text-xl" href="img/icons.svg#map-point"></c-icon>
        <div class="font-medium">Мы в Ростове</div>
      </div>
      <div class="text-sm my-5">г. Ростов ул. Нансена, 103/1</div>
      <a href="javascript:;" class="font-semibold text-lg mt-auto">+7 (863) 303-56-53</a>
    </div>
    <div class="basis-1/4 flex flex-col">
      <div class="flex items-center gap-2 text-primary">
        <c-icon class="icon text-xl" href="img/icons.svg#map-point"></c-icon>
        <div class="font-medium">Мы в Краснодаре</div>
      </div>
      <div class="text-sm my-5">
        г. Краснодар, ул. Рождественская <br>
        набережная, 45, оф. 2
      </div>
      <a href="javascript:;" class="font-semibold text-lg mt-auto">+7 (861) 205-53-36</a>
    </div>
    <div class="basis-1/4 flex flex-col">
      <div class="flex items-center gap-2 text-primary">
        <c-icon class="icon text-xl" href="img/icons.svg#map-point"></c-icon>
        <div class="font-medium">Мы в Ставрополье</div>
      </div>
      <div class="text-sm my-5">
        Ставропольский край, <br>
        г. Георгиевск, ул. Калиниа, 97, оф.1
      </div>
      <a href="javascript:;" class="font-semibold text-lg mt-auto">+7 (8652) 20-56-53</a>
    </div>
    <div class="basis-1/4 flex flex-col">
      <div class="flex items-center gap-2 text-primary">
        <c-icon class="icon text-xl" href="img/icons.svg#map-point"></c-icon>
        <div class="font-medium">Мы в Санкт-Петербурге</div>
      </div>
      <div class="text-sm my-5">
        г. Санкт-Петербург, <br>
        ул. Крыленко, 1, оф. 1
      </div>
      <a href="javascript:;" class="font-semibold text-lg mt-auto">+7 (952) 244-82-29</a>
    </div>
  </div>
</section>

<section class="relative py-10 bg-darkgreen-2 text-white border-t border-white/15">
  <div class="absolute inset-0">
    <img src="../img/sheets/single-4.png" alt="" class="absolute -top-24  left-20 max-lg:hidden">
  </div>
  <div class="relative">
    <div class="flex gap-5 lg:items-center max-lg:flex-col justify-between">
      <div class="flex items-center">
        <a href="/" class="block w-21 lg:w-30">
          <img src="../img/logo.svg" alt="">
        </a>
        <div class="mx-4 md:mx-8 h-6 w-px bg-white/20 "></div>
        <div class="opacity-60 text-sm max-md:text-xs">
          Экологическое сопровождение <br>
          предприятий по всей России
        </div>
      </div>

      <a href="javascript:;" class="btn btn-text btn-primary gap-2 justify-start">
        <c-icon class="icon text-2xl text-primary" href="img/icons.svg#email"></c-icon>
        <span class="font-normal font-base text-white">info@ileco-23.ru</span>
      </a>

      <div class="text-sm">
        ПН-ПТ – с 9.00 – 18.00 <br>
        (перерыв с 13.00 до 14.00) <br>
        СБ-ВС – выходной
      </div>

      <div class="flex items-center gap-4 sm:gap-6">
        <%= require('./social.html')() %>
        <%= require('./header-phone.html')() %>
      </div>
    </div>
  </div>
</section>

</body>

</html>