<!-- Партнеры -->
<section class="p-section">
  <div class="relative">
    <div class="title mb-10 sm:mb-15" data-animation="fadeInUp">Большой опыт <span class="text-sec">успешных</span> проектов</div>

    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-2 sm:gap-5">
      <% for(let i = 0; i < 15; i++) { %>
      <div class="rounded-4xl bg-l3 border border-default/10" data-animation="fadeInUp">
        <div class="flex flex-col items-center justify-center h-36 sm:h-46 py-6 px-8">
          <img src="../img/review-logo.png" alt="" class="h-14 sm:h-17 object-scale-down">
          <div class="text-center font-semibold mt-4 sm:mt-6 max-sm:text-sm  ">
            <div class="line-clamp-2">
              ООО «Леруа Мерлен
              Восток»
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>