<%= require('./html-includes/header.html')() %>

<section class="relative p-section">
  <div class="top-poligon">
    <img src="img/poligon-top.png" alt="" class="top-poligon-image" data-animation="fadeIn">
  </div>
  <div class="relative">
    <div class="title mb-10 sm:mb-15" data-animation="fadeInUp">Сертификаты и лицензии</div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <% for(let i = 0; i < 10; i++) { %>
      <a href="img/doc.png" data-fancybox="docs" class="p-4 block card rounded-4xl" data-animation="fadeInUp">
        <div class="ratio ratio-[360/510] mb-4">
          <img src="img/doc.png" alt="" class="absolute-fit object-contain">
        </div>
        <div class="my-auto text-center font-alt font-semibold">
          Перечень определяемых компонентов
          стр.03
        </div>
      </a>
      <% } %>
    </div>
  </div>
</section>


<%= require('./html-includes/footer.html')() %>