<%= require('./html-includes/header.html')() %>

<section class="started">
  <div class="started-image">
    <picture>
      <source media="(min-width: 609.98px)" srcset="img/started-image.png">
      <img src="img/started-image-mobile.png" alt="">
    </picture>
  </div>
  <div class="started-bottom">
    <img src="img/started-bottom.png" alt="" class="">
  </div>
  <img src="img/started-mobile-right.png" alt="" class="started-mobile-right">
  <div class="started-content">
    <div class="title">
      Комплексное экологическое <br>
      сопровождение предприятий
    </div>
    <div class="mt-7 sm:mt-10 max-sm:text-sm">
      Разработка и согласование проектов природоохранной <br class="max-sm:hidden">
      документации всех видов
    </div>
    <div class="flex gap-4 sm:gap-6 mt-9 sm:mt-15 max-sm:flex-col">
      <button class="btn btn-fill btn-gradient rounded-xl">Получить расчет стоимости</button>
      <button class="btn btn-fill btn-sec rounded-xl gap-3">
        <c-icon class="icon text-2xl" href="img/icons.svg#user-id"></c-icon>
        Консультация специалиста
      </button>
    </div>
    <div class="mt-10 flex flex-col gap-6 sm:gap-8">
      <div class="flex items-center gap-4">
        <c-icon class="icon text-3.5xl text-sec" href="img/icons.svg#message-dialog"></c-icon>
        <div>
          <div class="font-alt text-lg sm:text-1.5xl font-semibold leading-xs text-gradient">
            Без посредников
          </div>
          <div class="opacity-80 max-sm:text-sm">собственная аккредитованная лаборатория</div>
        </div>
      </div>
      <div class="flex items-center gap-4">
        <c-icon class="icon text-3.5xl text-primary" href="img/icons.svg#ruble"></c-icon>
        <div>
          <div class="font-alt text-lg sm:text-1.5xl font-semibold leading-xs text-gradient">
            Мы поможем вам
          </div>
          <div class="opacity-80 max-sm:text-sm">избежать штрафов и пройти плановые проверки</div>
        </div>
      </div>
      <div class="flex items-center gap-4">
        <c-icon class="icon text-3.5xl text-sec" href="img/icons.svg#shield-check"></c-icon>
        <div>
          <div class="font-alt text-lg sm:text-1.5xl font-semibold leading-xs text-gradient">
            Даем гарантию
          </div>
          <div class="opacity-80 max-sm:text-sm">согласования документов в органах экологического контроля</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Наши направления -->
<section class="p-section relative">
  <div class="absolute inset-0 pointer-events-none overflow-hidden">
    <img src="img/sheets/group.png" alt="" data-parallax class="absolute sheet top-0 right-[-868px] max-sm:top-[-180px] -rotate-12">
    <img src="img/sheets/group.png" alt="" data-parallax class="absolute sheet -top-12 left-[-957px] max-lg:hidden">
  </div>
  <div class="relative">
    <div class="title mb-6 sm:mb-15">Наши направления</div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-3 sm:gap-6">
      <div class="p-4 card flex flex-col rounded-4xl">
        <div class="py-6 lg:p-6 flex-grow flex flex-col">
          <div class="text-lg sm:text-1.5xl font-alt font-semibold mb-6">
            Лабораторные
            исследования
          </div>

          <div class="flex flex-col gap-3 mt-auto">
            <a href="javascript:;" class="btn btn-sec bg-default/5 rounded-xl text-default border border-default/10">
              <div class="font-medium">Отходы</div>
              <c-icon class="icon text-sm ml-auto " href="img/icons.svg#to-right"></c-icon>
            </a>
            <a href="javascript:;" class="btn btn-sec bg-default/5 rounded-xl text-default border border-default/10">
              <div class="font-medium">Воздух</div>
              <c-icon class="icon text-sm ml-auto " href="img/icons.svg#to-right"></c-icon>
            </a>
            <a href="javascript:;" class="btn btn-sec bg-default/5 rounded-xl text-default border border-default/10">
              <div class="font-medium">Вода</div>
              <c-icon class="icon text-sm ml-auto " href="img/icons.svg#to-right"></c-icon>
            </a>
            <a href="javascript:;" class="btn btn-sec btn-light rounded-xl">
              <div class="font-medium">Смотреть все услуги</div>
              <c-icon class="icon text-sm ml-auto " href="img/icons.svg#to-right"></c-icon>
            </a>
          </div>
        </div>
        <div class="ratio ratio-[362/226] rounded-3xl overflow-hidden">
          <img src="img/test/test-1.jpg" alt="" class="absolute-fit object-cover">
        </div>
      </div>
      <div class="p-4 card flex flex-col rounded-4xl">
        <div class="py-6 lg:p-6 flex-grow flex flex-col">
          <div class="text-lg sm:text-1.5xl font-alt font-semibold mb-6">
            Проектирование
            экологической
            документации
          </div>

          <div class="flex flex-col gap-3 mt-auto">
            <a href="javascript:;" class="btn btn-sec bg-default/5 rounded-xl text-default border border-default/10">
              <div class="font-medium">Паспорта отходов</div>
              <c-icon class="icon text-sm ml-auto " href="img/icons.svg#to-right"></c-icon>
            </a>
            <a href="javascript:;" class="btn btn-sec bg-default/5 rounded-xl text-default border border-default/10">
              <div class="font-medium">СЗЗ всех классов</div>
              <c-icon class="icon text-sm ml-auto " href="img/icons.svg#to-right"></c-icon>
            </a>
            <a href="javascript:;" class="btn btn-sec bg-default/5 rounded-xl text-default border border-default/10">
              <div class="font-medium">Разработка ПМ ООС</div>
              <c-icon class="icon text-sm ml-auto " href="img/icons.svg#to-right"></c-icon>
            </a>
            <a href="javascript:;" class="btn btn-sec btn-light rounded-xl">
              <div class="font-medium">Смотреть все услуги</div>
              <c-icon class="icon text-sm ml-auto " href="img/icons.svg#to-right"></c-icon>
            </a>
          </div>
        </div>
        <div class="ratio ratio-[362/226] rounded-3xl overflow-hidden">
          <img src="img/test/test-4.jpg" alt="" class="absolute-fit object-cover">
        </div>
      </div>
      <div class="p-4 card flex flex-col rounded-4xl">
        <div class="py-6 lg:p-6 flex-grow flex flex-col">
          <div class="text-lg sm:text-1.5xl font-alt font-semibold mb-6">
            Экологическое
            сопровождение
          </div>

          <div class="flex flex-col gap-3 mt-auto">
            <a href="javascript:;" class="btn btn-sec bg-default/5 rounded-xl text-default border border-default/10">
              <div class="font-medium">Постановка НВОС</div>
              <c-icon class="icon text-sm ml-auto " href="img/icons.svg#to-right"></c-icon>
            </a>
            <a href="javascript:;" class="btn btn-sec bg-default/5 rounded-xl text-default border border-default/10">
              <div class="font-medium">Проект НДС</div>
              <c-icon class="icon text-sm ml-auto " href="img/icons.svg#to-right"></c-icon>
            </a>
            <a href="javascript:;" class="btn btn-sec bg-default/5 rounded-xl text-default border border-default/10">
              <div class="font-medium">Декларация о ВОС</div>
              <c-icon class="icon text-sm ml-auto " href="img/icons.svg#to-right"></c-icon>
            </a>
            <a href="javascript:;" class="btn btn-sec btn-light rounded-xl">
              <div class="font-medium">Смотреть все услуги</div>
              <c-icon class="icon text-sm ml-auto " href="img/icons.svg#to-right"></c-icon>
            </a>
          </div>
        </div>
        <div class="ratio ratio-[362/226] rounded-3xl overflow-hidden">
          <img src="img/test/test-3.jpg" alt="" class="absolute-fit object-cover">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Согласование проектов -->
<section class="p-section dude overflow-hidden">
  <div class="dude-content">
    <div class="title mb-8 sm:mb-12">Согласование проектов</div>
    <div class="opacity-80 max-sm:text-sm">
      С каждым годом проблем с экологией в России больше, и получить согласование от надзорных органов становится труднее. За 6 лет работы мы узнали тонкости при работе с Росприроднадзором, Минприроды и Роспотребнадзором - как правильно оформить экологическую документацию, в какой срок подать, как получить гарантированное согласование и не получить штраф.
    </div>

    <div class="mt-9 px-6 py-8 rounded-4xl bg-[#D5F0C9] bg-opacity-50 max-lg:hidden">
      <div class="opacity-80">
        Наша цель – помочь каждой организации разобраться в экологии
        и успешно пройти любую проверку.
      </div>
      <div class="mt-6 flex items-center gap-4">
        <div class="size-12 rounded-xl bg-[#D5F0C9] flex">
          <div class="text-7xl font-semibold m-auto text-[#ABCF9B] pt-1.5">“</div>
        </div>
        <div>
          <div class="font-alt font-semibold">Алла Борисовна М.</div>
          <div class="">Генеральный директор</div>
        </div>
      </div>
    </div>
  </div>
  <div class="dude-image ">
    <div class="dude-image-picture ratio ratio-[545/490]">
      <img src="img/dude-image.png" alt="" class="absolute-fit object-cover">
    </div>

    <div class="dude-poligon dude-poligon-1">
      <img src="img/dude-poligon.png" alt="" class="dude-poligon-image" data-parallax="-100">
    </div>
    <div class="dude-poligon dude-poligon-2">
      <img src="img/dude-poligon.png" alt="" class="dude-poligon-image" data-parallax="100">
      <img src="img/sheets/single-1.png" alt="" data-parallax="200" class="absolute top-0 right-0">
    </div>
  </div>
  <div class="mt-9 px-6 py-8 rounded-4xl bg-[#D5F0C9] bg-opacity-50 lg:hidden">
    <div class="opacity-80">
      Наша цель – помочь каждой организации разобраться в экологии
      и успешно пройти любую проверку.
    </div>
    <div class="mt-6 flex items-center gap-4">
      <div class="size-12 rounded-xl bg-[#D5F0C9] flex">
        <div class="text-7xl font-semibold m-auto text-[#ABCF9B] pt-1.5">“</div>
      </div>
      <div>
        <div class="font-alt font-semibold">Алла Борисовна М.</div>
        <div class="">Генеральный директор</div>
      </div>
    </div>
  </div>
</section>

<!-- Цифры -->
<section class="py-6">
  <div class="grid lg:grid-cols-3 gap-6">
    <div class="p-8 bg-default/5 rounded-4xl flex items-start">
      <div>
        <div class="text-2xl lg:text-4.5xl font-alt font-semibold text-gradient">9 лет</div>
        <div class="mt-3 lg:mt-5 opacity-80">
          опыт разработки <br>
          и согласования проектов <br>
          экологической документации
        </div>
      </div>
      <img src="img/features-1.png" alt="" class="shrink-0 ml-auto">
    </div>
    <div class="p-8 bg-default/5 rounded-4xl flex items-start">
      <div>
        <div class="text-2xl lg:text-4.5xl font-alt font-semibold text-gradient">42</div>
        <div class="mt-3 lg:mt-5 opacity-80">
          квалифицированных <br>
          специалиста в области
          экологии
        </div>
      </div>
      <img src="img/features-2.png" alt="" class="shrink-0 ml-auto">
    </div>
    <div class="p-8 bg-default/5 rounded-4xl flex items-start">
      <div>
        <div class="text-2xl lg:text-4.5xl font-alt font-semibold text-gradient">670</div>
        <div class="mt-3 lg:mt-5 opacity-80">
          проектов разработано <br>
          и успешно согласовано
        </div>
      </div>
      <img src="img/features-3.png" alt="" class="shrink-0 ml-auto">
    </div>
  </div>
</section>


<%= require('./html-includes/reviews.html')() %>

<!-- Полигон справа -->
<section class="relative -z-[1] pointer-events-none py-[100lvh] -my-[100lvh]">
  <div class="absolute inset-0" data-parallax="-150">
    <img src="img/poligon-right.png" alt="" class="absolute right-0 top-1/2 -translate-y-1/2 max-w-[80%]">
  </div>
</section>

<%= require('./html-includes/partners.html')() %>

<%= require('./html-includes/footer.html')() %>