<%= require('./html-includes/header.html')() %>

<section class="relative p-section">
  <div class="top-poligon">
    <img src="img/poligon-top.png" alt="" class="top-poligon-image">
  </div>
  <div class="relative">
    <div class="title mb-7">Экологические документы и регламенты</div>
    <div class="flex mb-12">
      <div class="bg-primary rounded-full px-4 py-2 sm:px-6 sm:py-3">
        <div class="text-sm leading-none font-alt font-semibold text-white"> 22.11.2024</div>
      </div>
    </div>

    <div class="news-body">
      <p>
        Деятельность по охране окружающей среды и обеспечению экологической безопасности подлежит обязательному документированию. При отсутствии на предприятии юридической службы нормативно-правовая база, действующая в сфере охраны окружающей среды, должна формироваться в экологической службе (у эколога).
      </p>
      <p>
        Для предотвращения рисков наложения штрафных санкций и оптимизации экологических плетежей и отчислений Вашего предприятия, мы оперативно выполняем задачи по разработке и согласованию любой экологической документации.
      </p>
      <img src="img/test/test-4.jpg" alt="">
      <p>
        Деятельность по охране окружающей среды и обеспечению экологической безопасности подлежит обязательному документированию. При отсутствии на предприятии юридической службы нормативно-правовая база, действующая в сфере охраны окружающей среды, должна формироваться в экологической службе (у эколога).
      </p>
      <ul>
        <li>Перечень нормативных правовых актов,технических регламентов, ГОСТов, содержащих экологические требования/параметры</li>
        <li>Документы по экологии на предприятии</li>
        <li>Отчётная экологическая документация</li>
        <li>Экологическая документация по охране атмосферного воздуха</li>
        <li>Экологическая документация по охране водных объектов</li>
        <li>Экологическая документация по обращению с отходами</li>
        <li>Документация предприятия по вопросам охраны окружающей среды</li>
      </ul>
      <p>
        Компания ООО «ЭКО-23» поможет собрать для Вашей организации весь перечень необходимых документов.
      </p>

      <table>
        <thead>
          <tr>
            <td>Установленная версия</td>
            <td>Что ставить</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>модуль не установлен</td>
            <td>версию 2.8.3</td>
          </tr>
          <tr>
            <td>1.7.0 или выше</td>
            <td>версию 2.8.3</td>
          </tr>
          <tr>
            <td>1.4.0 — 1.6.4</td>
            <td>
              версию 1.7.5 <br>
              Windows XP, Windows 7 32-bit, Windows 8 32-bit — AdiPNVSetupWeb.zip <br>
              Windows 7 64-bit, Windows 8 64-bit — AdiPNVSetup64Web.zip <br>
              После установки обязательно запустите модуль для обновления базы данных. <br>
              После завершения обновления скачайте и установите последнюю версию.
            </td>
          </tr>
          <tr>
            <td>1.3.1 или ниже</td>
            <td>
              версию 1.4.3 <br>
              Windows XP, Windows 7 32-bit, Windows 8 32-bit — AdiPNVSetupWeb.zip <br>
              Windows 7 64-bit, Windows 8 64-bit — AdiPNVSetup64Web.zip <br>
              После установки обязательно запустите модуль для обновления базы данных. <br>
              После завершения обновления скачайте и установите версию 1.7.5
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>


<%= require('./html-includes/footer.html')() %>