<%= require('./html-includes/header.html')() %>


<section class="started">
  <div class="started-image">
    <picture>
      <source media="(min-width: 609.98px)" srcset="img/pasport-zone-image.png">
      <img src="img/pasport-zone-image-mobile.png" alt="">
    </picture>
  </div>
  <div class="started-bottom">
    <img src="img/started-bottom.png" alt="" class="">
  </div>
  <img src="img/started-mobile-right.png" alt="" class="started-mobile-right">
  <div class="started-content">
    <div class="title">
      Разработка проекта <br class="max-sm:hidden">
      санитарно-защитной зоны
    </div>
    <div class="mt-7 sm:mt-10 max-sm:text-sm">
      Разработаем проект обоснования размеров санитарно-защитной зоны <br>
      и подготовим полный комплект документов на установление границ СЗЗ
    </div>
    <div class="flex gap-4 sm:gap-6 mt-9 sm:mt-15 max-sm:flex-col">
      <button class="btn btn-fill btn-gradient rounded-xl">Получить расчет стоимости</button>
      <button class="btn btn-fill btn-sec rounded-xl gap-3">
        <c-icon class="icon text-2xl" href="img/icons.svg#user-id"></c-icon>
        Консультация специалиста
      </button>
    </div>
    <div class="mt-10 flex flex-col gap-6 sm:gap-8">
      <div class="flex items-center gap-4">
        <c-icon class="icon text-3.5xl text-sec" href="img/icons.svg#message-dialog"></c-icon>
        <div>
          <div class="font-alt text-lg sm:text-1.5xl font-semibold leading-xs text-gradient">
            Без посредников
          </div>
          <div class="opacity-80 max-sm:text-sm">лабораторные анализы в собственном исследовательском центре</div>
        </div>
      </div>
      <div class="flex items-center gap-4">
        <c-icon class="icon text-3.5xl text-primary" href="img/icons.svg#ruble"></c-icon>
        <div>
          <div class="font-alt text-lg sm:text-1.5xl font-semibold leading-xs text-gradient">
            До 250 000 ₽
          </div>
          <div class="opacity-80 max-sm:text-sm">Вы экономите на штрафах за соблюдение ФЗ №89</div>
        </div>
      </div>
      <div class="flex items-center gap-4">
        <c-icon class="icon text-3.5xl text-sec" href="img/icons.svg#calendar"></c-icon>
        <div>
          <div class="font-alt text-lg sm:text-1.5xl font-semibold leading-xs text-gradient">
            От 3 дней
          </div>
          <div class="opacity-80 max-sm:text-sm">срок разработки в зависимости от вида отхода и его количества</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Что это такое -->
<section class="p-section dude overflow-hidden">
  <div class="dude-content">
    <div class="title mb-8 sm:mb-12">Что это такое</div>
    <div class="opacity-80 max-sm:text-sm">
      Паспорт опасного отхода – это документ, в который вносятся сведения о физико-химических качествах определённого типа отхода, а также информация о классе опасности.
      <br><br>
      Согласно статье 14 Федерального закона от 24.06.1998 г. № 89-ФЗ «Об отходах производства и потребления» предприятия и индивидуальные предприниматели обязаны отнести отходы к конкретному классу опасности.
    </div>

    <div class="mt-10 font-alt font-semibold text-gradient">Паспорт отхода содержит следующие сведения:</div>

    <div class="flex flex-col gap-3 mt-9">
      <div class="flex items-center gap-2">
        <c-icon class="icon text-primary text-2xl" href="img/icons.svg#circle-check"></c-icon>
        Наименование организации, ФИО руководителя
      </div>
      <div class="flex items-center gap-2">
        <c-icon class="icon text-primary text-2xl" href="img/icons.svg#circle-check"></c-icon>
        Название отхода, код по ФККО и их химический состав в процентах
      </div>
      <div class="flex items-center gap-2">
        <c-icon class="icon text-primary text-2xl" href="img/icons.svg#circle-check"></c-icon>
        Агрегатное состояние отхода (жидкость, твердный, газ и пр)
      </div>
      <div class="flex items-center gap-2">
        <c-icon class="icon text-primary text-2xl" href="img/icons.svg#circle-check"></c-icon>
        Процесс, в результате которого появляется отход
      </div>
      <div class="flex items-center gap-2">
        <c-icon class="icon text-primary text-2xl" href="img/icons.svg#circle-check"></c-icon>
        Класс опасности
      </div>
    </div>
  </div>
  <div class="dude-image ">
    <div class="dude-image-picture ratio ratio-[545/490]">
      <img src="img/dude-image-3.png" alt="" class="absolute-fit object-cover">
    </div>

    <div class="dude-poligon dude-poligon-1">
      <img src="img/dude-poligon.png" alt="" class="dude-poligon-image" data-parallax="-100">
    </div>
    <div class="dude-poligon dude-poligon-2">
      <img src="img/dude-poligon.png" alt="" class="dude-poligon-image" data-parallax="100">
      <img src="img/sheets/single-1.png" alt="" data-parallax="200" class="absolute top-0 right-0">
    </div>
  </div>

</section>

<!-- Что входит в наши работы -->
<section class="p-section work">
  <div class="relative">
    <div class="title mb-10 sm:mb-15">
      Что входит в наши работы
    </div>
    <div class="flex flex-col gap-8">
      <div class="flex items-center gap-5">
        <img src="img/features-check.png" alt="" class="shrink-0 max-sm:w-16">
        <div>
          <div class="text-lg sm:text-1.5xl font-semibold font-alt text-gradient">Выезд</div>
          <div class="mt-1 opacity-80 max-sm:text-sm">
            на объект проведение необходимых <br>
            обследований, отбор проб
          </div>
        </div>
      </div>
      <div class="flex items-center gap-5">
        <img src="img/features-check.png" alt="" class="shrink-0 max-sm:w-16">
        <div>
          <div class="text-lg sm:text-1.5xl font-semibold font-alt text-gradient">Систематизируем</div>
          <div class="mt-1 opacity-80 max-sm:text-sm">
            сведения об объекте, присваиваем <br>
            отход к нужному классу опасности по ФККО
          </div>
        </div>
      </div>
      <div class="flex items-center gap-5">
        <img src="img/features-check.png" alt="" class="shrink-0 max-sm:w-16">
        <div>
          <div class="text-lg sm:text-1.5xl font-semibold font-alt text-gradient">Проводим</div>
          <div class="mt-1 opacity-80 max-sm:text-sm">
            лабораторные исследования проб <br>
            для определения состава
          </div>
        </div>
      </div>
      <div class="flex items-center gap-5">
        <img src="img/features-check.png" alt="" class="shrink-0 max-sm:w-16">
        <div>
          <div class="text-lg sm:text-1.5xl font-semibold font-alt text-gradient">Разрабатываем</div>
          <div class="mt-1 opacity-80 max-sm:text-sm">
            необходимую документацию <br>
            и подготавливаем отчеты
          </div>
        </div>
      </div>
      <div class="flex items-center gap-5">
        <img src="img/features-check.png" alt="" class="shrink-0 max-sm:w-16">
        <div>
          <div class="text-lg sm:text-1.5xl font-semibold font-alt text-gradient">Утверждаем</div>
          <div class="mt-1 opacity-80 max-sm:text-sm">
            паспорта и протоколы исследований <br>
            с руководителем предприятия
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute inset-0 overflow-hidden">
    <div class="work-image">
      <img src="img/work-image-1.png" alt="">
    </div>

    <div class="p-px poligon-mask absolute max-lg:right-1/2 lg:left-1/2 max-lg:bottom-15 sm:max-lg:bottom-24 lg:top-80 backdrop-blur" data-parallax="200">
      <img src="img/dude-poligon.png" alt="" class="max-sm:w-40">
    </div>
    <img src="img/sheets/single-6.png" alt="" class="absolute left-20 bottom-1/2 max-lg:hidden" data-parallax="-200">
    <img src="img/sheets/double-1.png" alt="" class="absolute max-lg:right-1/2 lg:left-1/2 bottom-0 lg:top-60 max-sm:w-24" data-parallax="100">

  </div>
  <div class="work-bottom max-sm:hidden">
    <img src="img/work-bottom.png" alt="" class="" loading="lazy">
  </div>
</section>


<%= require('./html-includes/footer.html')() %>